<a href="https://colab.research.google.com/github/ECBelarmino/OOP-58001/blob/main/FUNDAMENTALS_OF_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Variables

In [1]:
x = float(1) 
a, b = 0, -1
a, b, c = "rei", "jai", "kc"

print('This a sample')
print(a)
print(c)

This a sample
rei
kc

Casting

In [2]:
print (x)

1.0

Type() Function

In [7]:
y = "dinuguan"

print(type(y))
print(type(x))

<class 'str'>
<class 'float'>

Double quotes and Single quotes

In [6]:
h= "calamares"
v= 1
V= 2

print(h)
print(v)
print(v+1)

calamares
1
2

Multiple Variables

In [10]:
x,y,z="uno", "dos", "tres"
print(x)
print(y)
print(z)
print(x,y,z)

uno
dos
tres
uno dos tres

One Value to Multiple Variables

In [11]:
x = y = z ="juan"
print(x,y,z)

juan juan juan

Output Variables

In [13]:
x= "eating"

print("I am " + x)

x = "Adobong"
y = "manacc"

print(x+""+" "+y)

I am eating
Adobong manacc

Arithmetic Operations

In [16]:
f = 3
g = 6
i = 9

print(f+g)
print(f-g)
print(f*i)
print(int(i/g))
print(3/g)
print(3%g)
print(3//g)
print(3**6)

9
-3
27
1
0.5
3
0
729

Assignment Operators

In [22]:
k = 2
l=3
k+=3 #same as k=k+3

print(k)

print(l>>1)

5
1

Boolean Operators

In [23]:
k=4
l=3
print(k>>2)#shift right twice 
print(k<<2)#shift left twice

1
16

Relational Operators

In [26]:
print(v>k) #v=1, k=2

print(v==k)

False
False

Logical Operators

In [27]:
print(v<k and k==k)
print(v<k or k==v)
print(not (v<k or k==v))

True
True
False

Identity Operators

In [28]:
print(v is k)
print(v is not k)

False
True